<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ameraz.android.cipdfcapture.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/sw_background"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/LightTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="MediaShare"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PDFViewActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
